@media screen and (max-width:500px ) {
    .nav-menu{
        display:none;
    }
    .header-section{
        flex-direction: column;
        margin: 0;
        padding: 0;
        
    }
    .hambar{
        display: block;
    }
}
