@media screen and (max-width:500px ) {
    .nav-menu{
        display:none;
    }
    .hambar{
        display: block;
        color: white;
        margin-right: -150px;
    }
    .header-section{
        flex-direction: column;
        margin: 0;
        padding: 0;
        
    }
   .habit-title{
    margin-top: 500px;
     text-align: left;
   }
    .habit-menu{

        width: 100%;
        display: grid;
        justify-items: center;
        align-items:center;
        margin-left: 100px;
        
    }
    .run-main{
        margin-top: 1000px;
        /* flex-direction: column; */
        width: 400px;
        flex-direction: column;


    }
    .bmi-section{
        flex-direction: column;
        height: 850px;
        width: 450px;
    }
    .bmi-calculator{
        margin-top: 50px;
        /* margin-left: 20px; */
    }
    .bmi{
        margin-left:50px;
    }
    .bmi-chart{
        width: 300px;
        padding-left: 50px;
    }
    .team-main{
        margin-top: -400px;
    }
    .habit-title{
        margin-left: 60px;
        width: 150%;
    }
    .team-childs{
        width: 500px;
        margin-left:20px;
        grid-template-columns:repeat(1, 1fr) ;
        /* gap: 20px; */
    }
    .footer-main{
        margin-top: 10px;
        grid-template-columns:repeat(1, 1fr) ;
        margin-left: 0px;
        

    }
    footer{
        width:400px;
        margin-left: 20px;
    }
    .footer-end{
        width: 600px;
    }
    .extra-section{
        margin-top:1800px;
    }
    .instrument-child{
        grid-template-columns: repeat(2,1fr);
        height: 800px;
    }
   
    .run-main img{
        width: 150%;

    }
    .banner{
        width: 100%;
    }