@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
   background-color: rgba(17, 17, 17, 1);
}
.header{

    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
  
}
/* shared style  */
.btn{

    background-color:rgb(230, 83, 60);
    border: none;
    border-radius:15px ;
    color: white;
    padding: 8px 20px 8px 20px;
    gap: 10px;
}
.circle-btn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-top: 30px;
    margin-right: 10px;
    
}
.btn-transparent{
    
    background-color:transparent;
    border:1px solid white;
    border-radius:15px ;
    color: white;
    padding: 8px 20px 8px 20px;
    gap: 10px;


}
.white-text{
    color: white;
    /* font-size: xx-large; */
    
}
.gray-text{
    color: rgba(255, 255, 255, 0.5);
    size: 16px;

}
.header{
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
}
/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px;
    
}
.nav-title{
    font-style: italic;
    margin: 0;
    color: rgba(230, 83, 60, 1);
    margin-left: 60%;
}
.nav-btn{
   background-color: transparent;
   border: none;
   color: white;
   padding-right: 40px;
  
}
.nav-menu{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 3px;
    gap: 47px;
    border-radius: 39px;
    margin-right: 8%;
}
.hambar{
    display: none;
}

.header-section{
    display: flex;
    /* width: 50%;
    height:50% ;  */
    height: 300px;
    margin-left: 150px ;
    /* margin-top: 100px; */
}
.header-info{
    width: 570px;
    height: 400px;
    /* border: 1px solid green; */
    padding-top:50px;
    
}
.header-text-design{
    font-family: "Grey Qo", cursive;
    color: white;
    font-style: italic;
    font-size:xx-large;


}
.header-img{
    width: 39px;
    height: 580px;
    margin-left: 100px;
    width: 300px;
    height: 450px;
    /* border: 1px solid green; */
    padding-left: 50px;
}
.header-man-sec{
    display: flex;

}

.workout-vdo{
    height: 80px ;
    width: 110px;
    margin-right: 50%;
    margin-left:-100px;
    margin-top: 80px;
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(81, 78, 78, 0.5);
}

.workout-circle-vdo{
    display: flex;
    height: 80px ;
    width: 150px;
    margin-right: 50%;
    margin-left:-400px;
    margin-top: 160px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(81, 78, 78, 0.5);
}

/* change your habit section */
.habit-section{
    margin-top:200px ;
    margin-right: 0px;
    margin-left: 60px;
    margin-right: 60px;
}
.habit-menu{ 
    display: flex;
}

.habit-title{
   text-align: center;
   padding-bottom: 20px;
}
.habit-main{
    width:auto;
    height: 450px;
    /* border: 1px solid green; */
    text-align: center;
}
.habit-img{
    border-radius: 50%;
}

/* run section */

.run-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 60px;
    background-color: rgba(63, 62, 62, 0.5);
    border-radius: 15px;
    
}
.banner-childs{
    width: 40%;
    /* border: 2px solid green; */
    
}
.banner-childs img{
    width: 100%;
    border-radius: 12px;
}

/* BMI */
.bmi-section{
    display: flex;
    height: 400px;
    background-color: rgba(63, 62, 62, 0.5);
}
.bmi-cal{
    text-align: center;
    width: 50%;
    /* border: 1px solid green; */
    
}
.bmi-call{
    padding-bottom: 40px;
}
.bmi-chart{
    display: flex;
    width: 30%;
    margin-left: 40px;
    /* border: 1px solid green; */
    margin: auto;
}
.bmi-margin{
    border: 1px solid gray;
    
}

.bmi-margin{
    margin: 0;
    gap: 0;
}
.your-bmi-title{
    padding: 20px;
}
.your-bmi{
    text-align: center;
    width: 50%;
    /* border: 1px solid green; */
    
}
.input{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    grid-column:span 2;
    padding: 20px;
}
.input-item{
    padding: 10px;
    background-color: rgba(80, 78, 78, 0.214);
    
}